<h1>Alpha</h1>

<div class="row">
  <div class="bs col-md-12">

    <button class="btn btn-primary btn-lg pull-right" ng-click="submit_form()">
      <i class="fa fa-save"> </i> Save
    </button>
  </div>


  <div class="bs col-md-12 hr-2" id="message-panel">
  </div>
  <div class="col-md-12">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Name of the Alpha">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Update on</label>
        <div class="input-group col-sm-10 datepicker">
          <input type="text" class="form-control" placeholder="Experiment Date" name='txt-required-date' id="txt-required-date" data-date-format="YYYY-MM-DD">
          <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="3"></textarea>
        </div>
      </div>
      

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Code</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="20"></textarea>
        </div>
      </div>

    
     
    </form>

  </div>
</div>