<div class="row">
  <div class="bs col-md-12">
    <h1>
      <a editable-text="alpha.name">{[{ alpha.name || "New Alpha" }]}</a>
    </h1>
  </div>
  <div class="bs col-md-12">
    <p>{[{alpha.describe}]}</p>
  </div>

  <div class="bs col-md-12 hr-2" id="message-panel">
  </div>

  <div class="bs col-md-12" id="message-panel">
    <form class="form-inline">
      <div class="form-group">
        <p class="form-control-static">Created 
          by {[{alpha.author.username}]} <i class="fa fa-user"></i> 
          on {[{alpha.timestamp0|timeshift}]} <i class="fa fa-clock-o"></i>
        </p>
      </div>
      <div class="form-group">
        
      </div>
    </form>
  </div>
</div>