<div class="row">
  <div class="bs col-md-12">
    <h1>
      <a editable-text="alpha.name">{[{ alpha.name || "New Alpha" }]}</a>
    </h1>
  </div>
  <div class="bs col-md-12">
    <p>{[{alpha.describe}]}. <i>Created by {[{alpha.author.username}]} on {[{alpha.timestamp0|timeshift}]}</i>
    </p>
  </div>

  <div class="bs col-md-12 hr-2" id="message-panel">
  </div>

  <div class="bs col-md-12">
    <form class="form-inline pull-right">
      <div class="form-group">
        <label class="sr-only">Status</label>
        <div class="input-group">
          <div class="input-group-addon" title="Auto update time"><i class="fa fa-bug"></i></div>
          <select class="form-control" ng-model="alpha.status">
            <option value="D">DEVELOPING</option>
            <option value="T">TESTING</option>
            <option value="P">PUBLISHED</option>
            <option value="X">DEPRECATED</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only">Update on</label>
        <div class="input-group">
          <div class="input-group-addon" title="Auto update time"><i class="fa fa-clock-o"></i></div>
          <input type="text" class="form-control" id="exampleInputAmount" placeholder="Update Time" ng-model="alpha.update_on">
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only">Owner</label>
        <div class="input-group">
          <div class="input-group-addon" title="Alpha Owner"><i class="fa fa-user"></i></div>
          <input type="text" class="form-control" id="exampleInputAmount" readonly ng-model="alpha.owner.username">
        </div>
      </div>
    </form>
  </div>

  <div class="bs col-md-12">
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" id="tab-alpha">
        <li role="presentation" class="active">
          <a href="#tab-performance" aria-controls="tab-performance" role="tab" data-toggle="tab">
            Source
          </a>
        </li>
        <li role="presentation">
          <a href="#tab-source" aria-controls="tab-source" role="tab" data-toggle="tab">Performance</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tab-performance">
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab-source">
          
        </div>
      </div>

    </div>
  </div>

</div>
