<div class="row">
  <div class="bs col-md-12">
    <h1>
      <a editable-text="record.name" onaftersave="update_name()">{[{record.name}]}</a>
    </h1>
    <a href="#" editable-textarea="record.describe" onaftersave="update_describe()" e-rows="2" e-cols="80">
      <pre>{[{ record.describe }]}</pre>
    </a>
    <p ng-if="record.id">
      <i>Created by {[{record.author.username}]} on {[{record.timestamp0|timeshift}]}. Edit on {[{record.timestamp1|timeshift}]}</i>
    </p>
  </div>
  <div class="bs col-md-12">
    <button class="btn btn-lg btn-primary pull-right" ng-click="save();"> <i class="fa fa-floppy-o"></i> Save </button>
  </div>
</div>
<div class="row">

  <div class="bs col-md-12 hr-2" id="message-panel">
  </div>

  <div class="bs col-md-12">
    <form class="form-inline pull-right">
      <div class="form-group">
        <label class="sr-only">Status</label>
        <div class="input-group">
          <div class="input-group-addon" title="Auto update time"><i class="fa fa-bug"></i></div>
          <select class="form-control" ng-model="record.status">
            <option value="D">DEVELOPING</option>
            <option value="T">TESTING</option>
            <option value="P">PUBLISHED</option>
            <option value="X">DEPRECATED</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only">Update on</label>
        <div class="input-group">
          <div class="input-group-addon" title="Auto update time"><i class="fa fa-clock-o"></i></div>
          <select class="form-control" ng-model="record.update_on">
            <option value="-1">N/A</option>
            <option value="0">00:00 AM</option>
            <option value="100">01:00 AM</option>
            <option value="200">02:00 AM</option>
            <option value="300">03:00 AM</option>
            <option value="400">04:00 AM</option>
            <option value="500">05:00 AM</option>
            <option value="600">06:00 AM</option>
            <option value="700">07:00 AM</option>
            <option value="800">08:00 AM</option>
            <option value="1700">05:00 PM</option>
            <option value="1800">06:00 PM</option>
            <option value="1900">07:00 PM</option>
            <option value="2000">08:00 PM</option>
            <option value="2100">09:00 PM</option>
            <option value="2200">10:00 PM</option>
            <option value="2300">11:00 PM</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only">Owner</label>
        <div class="input-group">
          <div class="input-group-addon" title="Alpha Owner"><i class="fa fa-user"></i></div>
          <input type="text" class="form-control" readonly ng-model="record.owner.username">
        </div>
      </div>
    </form>
  </div>

  <div class="bs col-md-12">
    <div ui-codemirror="{ onLoad: codemirror_loaded }"  ui-codemirror-opts="editor_options" rows="50" ng-model="record.update_code" style="height: auto;">
    </div>
  </div>

</div>
