<h1>Home </h1>
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">Alpha</div>
      <div class="panel-body">
        <form class="form-inline" role="form">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
          <a class="btn btn-default pull-right" title="Add Alpha" href="#/alpha/create"><i class="fa fa-plus"></i></a>
        </form>
        
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in alphas.results">
              <td><a href="#/alpha/{[{row.id}]}">{[{row.name}]}</a></td>
              <td>{[{row.status}]}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">Universe</div>
      <div class="panel-body">
        <form class="form-inline" role="form">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
          <a class="btn btn-default pull-right" title="Add Universe" href="#/universe/create"><i class="fa fa-plus"></i></a>
        </form>
        
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in universe.results">
              <td><a href="#/universe/{[{row.id}]}">{[{row.name}]}</a></td>
              <td>{[{row.status}]}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">Category</div>
      <div class="panel-body">
        <form class="form-inline" role="form">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
          <a class="btn btn-default pull-right" title="Add Category" href="#/category/create"><i class="fa fa-plus"></i></a>
        </form>
        
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in category.results">
              <td><a href="#/category/{[{row.id}]}">{[{row.name}]}</a></td>
              <td>{[{row.status}]}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>

</div>

