{% load static from staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ORCA">
    <meta name="author" content="madlee">
    <link rel="icon" href="{% static "orca/img/favicon.ico" %}" type="image/vnd.microsoft.icon">

    <title>ORCA</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "Font-Awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "orca/css/orca.css" %}" rel="stylesheet">
    <link href="{% static "angular-xeditable/css/xeditable.css" %}" rel="stylesheet">
    <link href="{% static "codemirror/lib/codemirror.css" %}" rel="stylesheet">
  </head>

  <body ng-app="orcaApp">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Abbvie" src="{% static "orca/img/orca.jpg" %}" width="24" height="24" class="img-circle"> ORCA
          </a>
        </div>

        <div class="collapse navbar-collapse staff-only">
          <ul class="nav navbar-nav">
            <li class="ctrl-home"><a href="#">Home</a></li>
            <li class="ctrl-ocean"><a href="#/ocean">Ocean</a></li>
            <li class="ctrl-alpha"><a href="#/alpha">Alpha</a></li>
            <li class="ctrl-universe"><a href="#/universe">Universe</a></li>
            <li class="ctrl-report"><a href="#/report">Report</a></li>
            <li class="ctrl-admin"><a href="/admin">Admin</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user"></i> Welcome, <span id="user-label"></span> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#"><i class="fa fa-laptop"></i> Personal Profile</a></li>
                <li><a  data-toggle="modal" data-target="#dlg-set-password">
                  <i class="fa fa-key"></i> Change Password
                </a></li>
                <li class="divider"></li>
                <li><a onclick='Madlee.logout(this)'><i class="fa fa-sign-out"></i> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid" ng-view>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="dlg-set-password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-key"></i> Change Password</h4>
          </div>
          <div class="modal-body">
           
            <form class="form-horizontal">
              <div class="form-group">
                <label for="txt-current-password" class="col-sm-6 control-label">Current Password</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="txt-current-password" placeholder="Current Password">
                </div>
              </div>
              <div class="form-group">
                <label for="txt-new-password1" class="col-sm-6 control-label">New Password</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="txt-new-password1" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <label for="txt-new-password2" class="col-sm-6 control-label">New Password</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="txt-new-password2" placeholder="Password">
                </div>
              </div>
              
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static "jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "moment/min/moment.min.js" %}"></script>
    <script src="{% static "bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js" %}"></script>
    <script src="{% static "bootstrap-treeview/dist/bootstrap-treeview.min.js" %}"></script>
    <script src="{% static "jquery-validation/dist/jquery.validate.min.js" %}"></script>

    <script src="{% static "angular/angular.js" %}"></script>
    <script src="{% static "angular/angular-route.js" %}"></script>
    <script src="{% static "angular/angular-resource.js" %}"></script>
    <script src="{% static "angular-xeditable/js/xeditable.js" %}"></script>

    <script src="{% static "codemirror/lib/codemirror.js" %}"></script>
    <script src="{% static "codemirror/mode/python/python.js" %}"></script>
    <script src="{% static "ui-codemirror-master/src/ui-codemirror.js" %}"></script>

    <script src="{% static "madlee/js/madlee.1.js" %}"></script>
    <script src="{% static "orca/js/orca.js" %}"></script>
    <script src="{% static "orca/js/ocean.js" %}"></script>
    <script src="{% static "orca/js/alpha.js" %}"></script>
    <script src="{% static "orca/js/universe.js" %}"></script>
    <script src="{% static "orca/js/report.js" %}"></script>

  </body>
</html>
