<h1></h1>
<div class="row">
  <div class="col-md-12">
    <a href="#/ocean-edit/new" class="btn btn-primary btn-lg pull-right"><i class="fa fa-paw"> </i> New Ocean</a>
  </div>
</div>
<div class="row hr-2">
  <div class="bs col-md-8 col-lg-9">
    <table class="table table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th>#</th><th>Name</th><th>Owner</th><th>Describe</th><th>Created on</th>
        </tr>
      </thead>
      <tbody class="align-center">
        <tr ng-repeat="row in records.results">
          <td>
            {[{row.id}]}
          </td>
          <td>
            <a href="#/ocean-edit/{[{row.id}]}">
              {[{row.name}]}
            </a>
          </td>
          <td>
            {[{row.owner.username}]}
          </td>
          <td>
            {[{row.describe}]}
          </td>
          <td>
            {[{row.timestamp0|timeshift}]}
          </td>
        </tr>
      </tbody>
    </table>

    <pagination boundary-links="true" total-items="records.count" ng-model="current" items-per-page="page_size" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="load_page()">
    </pagination>
  </div>

  <div class="bs col-md-4 col-lg-3">
    <h1></h1>
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <a class="btn btn-default pull-right"><i class="fa fa-power-off"> </i> Reset All Filters</a>
        </div>
      </div>
    </form>

    <div id="div-filter"> 
    </div>
  </div>
</div>

